node_modules
dist/
dist-electron/
docs/.vitepress/cache/
coverage/
packages/trpc-electron/renderer.d.ts
packages/trpc-electron/main.d.ts

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions